<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=haris\SQLEXPRESS;Initial Catalog=Product; Integrated Security=SSPI " 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
</configuration>